.xanh{
color:#58ae37 !important
}
.text-center.xemtatca_lq.nut_dt_header2 {
    text-align: center !important;
    margin-bottom: 20px;
}

.thongbao_red {
    margin-bottom: 10px;
}.tokenarea,.uiTypeahead .innerWrap,.uiTypeaheadView ul{overflow:hidden}.uiInlineTokenizer .uiToken{top:2px}.uiInlineTokenizer{border:1px solid #BDC7D8;cursor:text}.uiCloseButtonSmall{background-image:url(../images/delfb.png);height:11px;margin-top:1px;width:11px}.uiCloseButton{cursor:pointer;display:inline-block;margin:0;padding:0}.uiTypeahead{border-top:1px solid #ccc}.uiTypeahead .textInput{background:0 0!important;border:none!important;outline:0;-webkit-box-shadow:0 0 0 #fff;-moz-box-shadow:0 0 0 #fff;box-shadow:0 0 0 #fff}.uiTypeahead .selected{background-color:#E2E8F6}.uiTypeaheadDisabled,.uiTypeaheadDisabled div.wrap{border-color:#CCC}.uiTypeaheadDisabled div.wrap{background:#E2E2E2}.uiToken{background:#E6E6E6;border:1px solid #ccc;border-radius:2px;color:#1C2A47;display:block;float:left;height:25px;line-height:24px;margin:0 4px 4px 0;padding:0 3px;position:relative;font-size:13px;white-space:nowrap;cursor:pointer}.uiToken .remove{margin:2px 0 -2px 1px;outline:0}.uiTokenSelected{background-color:#6D84B4;border-color:#3B5998;color:#FFF}.uiTokenGray{background:#DDD;border-color:gray}.uiTokenizer{background:#FFF}.tokenarea{padding-left:3px}.uiContextualTypeaheadView{position:static}.uiTypeaheadView ul{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:#FFF;border-color:#333 #333 #293E6A;border-image:none;border-style:solid;border-width:1px 1px 2px;padding:2px 0}.uiTypeaheadView .freeform{border-top-color:#DDD;padding:2px 6px 1px;text-align:center}.detail_bar{background:url(../images/bookhouse/background-striped.png) #CCC;width:100%;height:20px;margin:20px 0 15px;text-transform:uppercase}.text_right_sdt{text-align:right}.detail_bar span{display:inline-block;background-color:#FFF;padding:2px 6px 6px 0}.hometext{font-style:italic;font-weight:700}.jssora02l,.jssora02ldn,.jssora02r,.jssora02rdn{position:absolute;cursor:pointer;display:block;background:url(../images/bookhouse/a02.png) no-repeat;overflow:hidden}.jssora02l{background-position:-3px -33px}.jssora02r{background-position:-63px -33px}.jssora02l:hover{background-position:-123px -33px}.jssora02r:hover{background-position:-183px -33px}.jssora02ldn{background-position:-243px -33px}.jssora02rdn{background-position:-303px -33px}.jssort03 .pav:hover .w,.jssort03 .w{position:absolute;width:60px;height:30px;border:1px dashed #fff}* html .jssort03 .w,.jssort03 .c{width:62px;height:32px}.jssort03 .pav .w,.jssort03 .pdn .w{border-style:solid}.jssort03 .c{filter:alpha(opacity=45);opacity:.45;transition:opacity .6s;-moz-transition:opacity .6s;-webkit-transition:opacity .6s;-o-transition:opacity .6s}.jssort03 .p:hover .c,.jssort03 .pav .c{filter:alpha(opacity=0);opacity:0}.jssort03 .p:hover .c{transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none}.loading{position:absolute;display:block;background:url(../images/bookhouse/loading.gif) no-repeat;top:0;left:0;width:100%;height:100%}#map-canvas{width:100%;height:300px;text-align:center}.fb-like{height:30px;margin-right:34px}ul.listnews{margin:0;padding:0}ul.listnews li{margin-bottom:10px}ul.listnews li img{margin-right:5px}ul.items_note{padding:10px;list-style:circle}.images .plupload_container{padding:0!important}.images #uploader,.images .btn-submit,.images .info-image-number{display:none}.images .new-images-append{border:1px solid #003794}.images #upload{position:relative}.images .close-upload{position:absolute;top:20px;right:15px;color:#FFF}.thumbnail .caption h3{height:44px}.thumbnail .image{margin-bottom:5px}.block_new_items_list .image{margin-right:6px}.block_new_items_list .item-detail{display:table}.block_new_items_list .item-detail label{width:90px}.block_new_items_list .item-detail ul{font-size:12px;line-height:12px}.tab-pane{padding:10px 0}table.table-middle td{vertical-align:middle!important}table.table-middle td span.help-block,table.table-middle td span.help-block ul{margin-bottom:0;font-size:12px}ul .vip{color:red}ul .hot{color:#00f}.viewlist .image{margin-right:5px}.money{color:#af251b;font-weight:700}.viewlist .panel-body ul li{margin-bottom:5px}.viewlist ul.list-info{font-size:12px}.socialbutton ul li{margin:0}.viewlist ul.item-detail li label{width:120px}#detail ul.list-info{padding:0;font-size:12px;margin-top:5px}.quanlytin{margin:20px 0}.sdt_detail img,.text_right_sdt img{margin-right:10px}.quanlytin a{background:#58ae37;color:#fff;padding:10px 20px;border-radius:20px;font-weight:700}.quanlytin:hover a{background:#5cc932}.kq_search_bds .gia_blocktin{font-weight:700}.kq_search_bds .gia_blocktin i{color:#000}span.required{color:red;padding-left:2px}.lienhe2 .thongtinlh,.tieude_nhadat{color:#58ae37;font-size:16px;font-weight:700}.block_search_vertical{position:relative;z-index:9999}.thongtin_nhadat{margin-bottom:5px;margin-top:5px}.thongtin_nhadat span{padding-right:20px}.tieude_nhadat{margin-bottom:10px;margin-top:10px;text-transform:uppercase}.tt_gia_duyet{height:35px;background-color:rgba(20,19,19,.8);line-height:35px;z-index:999;width:100%;bottom:0;color:#fff;padding:0 10px}.panel.panel-default.socialbutton{margin-top:20px;border-radius:5px}.socialbutton .panel-body{padding:10px 10px 0;border-radius:5px}.text_right_sdt a{color:#fff!important;background:#58ae37;padding:5px 20px;font-weight:100!important;font-size:16px!important}.img_room_main{position:relative}.info_nhadat .maugia_ct{color:#f51212;font-weight:700;font-size:20px}.gia_detail_nhadat{color:red;font-weight:700}.detail_nhadat{font-size:12px}.sdt_detail a{background:#58ae37;color:#fff;padding:7px 15px}.dt_dang_dt a,.list-info h2 a{color:#58ae37}.lienhe2{margin:25px 0 10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0}.sdt_detail_nd{margin-top:30px;margin-bottom:30px}.gia_dang_dt{margin-top:10px}.ghichu_dang_dt{margin:20px 0}.dt_dang_dt a{font-weight:700;font-size:20px}.luutin_nhadat i{margin-right:10px}.quang_cao_detail img{width:100%;height:auto;margin-bottom:20px}.sapxep_tin,.sapxep_tin.text-right select{width:200px}.news_column.panel.panel-default.well{display:flex}.item_blocktin .none,.nangcaptin{display:none}.block_user ul{padding-left:0}.item_blocktin.none_boder{border-bottom:none;margin-bottom:0}.nangcaptin i{color:#299ac8;position:absolute;left:-9px;font-size:30px;top:-2px}.nangcaptin>span{background:#299ac8;padding:5px 20px;color:#fff;position:relative}.nangcaptin{text-align:right;margin-top:10px;position:absolute;right:10px;bottom:-20px;}.item_blocktin:hover .nangcaptin{display:block}.nangcaptin a{color:#fff!important}.other-image-item{position:relative}.other-image-item .fa-times-circle{position:absolute;top:-6px;right:-7px;color:red}.show.hienthigia{padding-top:5px}.plupload_button.plupload_start.plupload_disabled{display:none}.tt_ngxem{margin:10px 0}.ghichu_dang_dt img{max-width:100%;height:auto!important}.note_kq{padding-top:10px}.sapxep_tin{float:right}.payment ul li i {
    font-size: 8px;
}
.des_payment{
margin-bottom:10px !important;
}
.payment-group .panel-default {
    height: 248px;
}
.m-bottom.des_payment {
    height: 80px;
    overflow: hidden;
}
.item_blocktin.none {
    display: none;
}
.payment .m-bottom {
    height: 90px;
}
.payment .panel{
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out,-webkit-transform 300ms ease-in-out;
}
.payment .panel:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    cursor: pointer;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.payment .panel-default:hover .panel-heading {
    color: #fff;
    background-color: #167ca5;
    border-color: #167ca5;
}
.payment .panel-default:hover .btn-warning{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.nangcaptin span span:last-child {
    display: none;
}
span.tintrung {
    color: red;
}


#detail ul.list-info, 
.payment ul.list-info,
.upgrade ul.list-info
{
	padding: 0;
	font-size: 14px;
	margin-top: 5px
}
@media(min-width:768px)
{
li.lslide.active img {
    height: auto !important;
    width: auto !important;
    max-height: 420px;
}

#image-gallery li img {
    height: auto !important;
    width: auto !important;
}

}

@media(max-width:768px)
{
#image-gallery li img {
    height: auto !important;
    width: auto !important;
    max-height: 230px;
}
.lSSlideOuter .lightSlider > * {
    height: 230px !important;
}
.lSSlideOuter .lSPager.lSGallery img {
    height: 50px !important;
    width: auto !important;
	max-width:100%;
}

.text_right_sdt {
    text-align: left;
    margin-top: 10px;
}
.dt_dang_dt.row {
    margin: 0px -5px;
}

}
td .price_discount{
	margin-top: 10px
}
.dis_none{
display:none;
}
span.xem_dt i {
    margin-right: 5px;
    font-size: 25px;
    position: relative;
    top: 2px;
}

span.xem_dt {
    background: #58ae37;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
	cursor: pointer;
}
.left_sdt {
    margin-top: 10px;
}
li.hits_w i {
    font-size: 15px;
    color: #459626;
}
ul.block_danhba {
    padding: 0px 20px;
}
.thongtinkhac_danhba span {
    font-weight: 700;
}
.thongtinkhac_danhba_email {
    word-break: break-all;
}
ul.block_danhba li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
ul.block_danhba li:last-child {
    border-bottom: none;
}
.title_danhba_block a {
    color: #2795F0;
    font-size: 15px;
    font-weight: 700;
}
.image_danhba_block img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.xemtatca_moigioi a {
    color: #58ae37;
    border: 2px solid #58ae37;
    padding: 10px 20px;
}

.xemtatca_moigioi {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.xemtatca_moigioi a:hover {
    color: #f01d0a;
    border: 2px solid #f01d0a;
    padding: 10px 20px;
}
.tieude_tin_moigioi_lancan {
    text-transform: initial;
    height: auto;
    line-height: 25px;
    text-align: center;
    padding: 5px;
}
.moigiohot a{
color: #f01d0a;
}